{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="color:#0000F0;">Lista de produtos <a href="{{ path('produto_new') }}" class="btn btn-primary pull-right ">Novo produto</a></h1>
    <table class="table">
        <thead>
            <tr>
                <th style="color:black;text-align:center">Código</th>
                <th style="color:black;text-align:center">Nome</th>
                <th style="color:black;text-align:center">Preço</th>
                <th style="color:black;text-align:center">Categoria</th>
                <th style="color:black;text-align:center">Marca</th>
                <th style="color:black;text-align:center">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td><a href="{{ path('produto_show', { 'id': produto.id }) }}">{{ produto.id }}</a></td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.marca }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produto_show', { 'id': produto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produto_edit', { 'id': produto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
